/*font links start*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*common css start*/
body{
   font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #000000;
}
/* header start */
 .h_logo{
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: bold;
 }
 ul li {
  padding: 6px 15px;
 }
 .menu ul li a{
  font-size: 16px;
  color: #8e8e8e;
  font-family: 'Lato', sans-serif;
 }
 .menu ul li a:hover{
  color: #000000;
 }
 .s_btn{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 15px 30px;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 0;
}
 .btn_dd{
  border: 0;
 }
 .btn_dd i{
  font-size: 16px;
  color: #8e8e8e;
 }
 .btn_dd::after{
  display: none;
 }
 .ddm{
  width: 300px;
  border-radius: 0;
  padding: 10px 10px;
 }
 .ddm[data-bs-popper]{
  top: 53px;
  left: -260px;
  margin-top: 0;
 }
 .d_input{
  width: 100%;
  height: 45px;
  border: 0;
 }
 .d_input:focus{
  box-shadow: none;
 }
 .d_btn{
  width: 100%;
  height: 45px;
  background-color: white;
  border: 0;
 }
 .d_btn i{
  color: #8e8e8e;
 }
 /* header end */
/* common css end */

/*slider*/
.slider{
	background-image: url(../images/banner.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.s_item{
	margin: 210px 0 200px;
	color: white;
}
.s_item a{
	color: white;
}
/*slider*/
/*service start*/
.service{
	padding-bottom: 95px;
}
.c_arrow{
	width: 3px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
}

.sv_item{
	margin-top: 60px;
	padding: 70px 15px 35px;
	border: 1px solid #8e8e8e;
	text-align: center;
}
.sv_icon{
	margin: -90px auto 0;
    width: 65px;
    background-color: white;
}
.sv_icon i{
	font-size: 60px;
	color: #8e8e8e;
}
.sv_h2{}
.sv_hr{
	width: 50px;
    margin: 10px auto;
    border-top: 3px solid red#8e8e8e;
}
.sv_p{
	color: #8e8e8e;
}
.sv_a{
	color: #8e8e8e;
}

.sv_item:hover {
	border: 1px solid #333333;
}
.sv_item:hover .sv_icon i{
	color: #333333;
}
.sv_item:hover .sv_a{
	color: #333333;
}
/*service end*/
/*about start*/
.about{
}
.a_img{
  width: 100%;
}
.a_about p{
  padding: 0;
}
.a_about button{
  border: 1px solid #333333;
}
/*about end*/
/*work start*/
.work{
/*  padding: 70px 0;*/
  background-color: #f8f8f8;
}
.work h1{}
.work ul{
  margin-top: 100px;
}
.work ul li{
}
.work ul li a{
  padding: 15px 10px;
  color: #8e8e8e;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  }
.work ul li a:hover{
  color: #333333;
  border: 1px solid #333333;
}
/*portfolio*/
.w_img{
  width: 100%;
  margin-top: 50px;
}
.w_text{
  padding: 5px 0 5px 20px;
}
.w_h2{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
}
.w_p{}
/*work end*/

/*feature start*/
.feature{}
.feature h1{
}
.f_item{
   margin-top: 70px;
   border-bottom: 1px solid #8e8e8e;
   transition: .33s;
}
.f_icon{
}
.f_icon i{
  font-size: 48px;
  transition: .33s;
}
.f_item span{
  font-size: 18px;
  margin-left:10px;
  text-transform: uppercase;
  transition: .33s;
}
.f_item p{
  padding: 40px 0 30px;
}
.f_item:hover {
  border-bottom: 1px solid #333333;
}
.f_item:hover .f_icon i{
  color: #333333;
}
.f_item:hover .f_item span{
  color: #333333 !important;
}
/*team start*/
.team{
  background-image: url(../images/feature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.team h1{}
.team_item{
  margin-top: 70px;
}
.team_back{
  width: 255px;
    height: 340px;
    background-color: white;
}
.team_back img{ 
  width: 100%;
}
.team_padd{
  margin-left: 22px;
  padding: 10px 30px; 
}
.team_item h2{
  margin: 0;
}
.team_p{
}
.team_icon{
  margin-top: -295px;
}
.team_icon li a i{
  width: 30px;
  padding: 8px 3px;
  font-size: 26px;
  color: #8e8e8e !important;
  background-color: white;
  }
.team_item img,.team_item:after,.team_item:before{
  width:100%;
  transition:all .3s ease 0s;
}
/*team end*/
/*price start*/
.p_item{
  margin-top: 70px;
  padding: 50px 0px 60px;
  border: 1px solid #8e8e8e;
  transition: .3s;
}
.p_item h2{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  margin: -60px 25px 0;
    background-color: white;
    width: 100px;
}
.p_item h3{
  margin-top: 35px;
  font-size: 36px;
  color: #333333;
}
.p_item h3 span{
  font-size: 18px;
  color: #8e8e8e;
}
.p_item p{
  padding: 40px 45px 50px;
  line-height: 30px;
}
.p_item a{
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    background-color: transparent;
    text-transform: uppercase;
  border: 1px solid #8e8e8e;
  transition: .3s;
}
.p_item a:hover {
  color: #333333;
}
/*price end*/
/*responsive start*/
.responsive{
  margin-bottom: 100px;
  padding: 35px 0;
  background-color: #f8f8f8;
}
.res_item{
}
.res_item p{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.res_item a{
  background-color: transparent;
  border: 1px solid #333333;
}
/*responsive end*/
/*testimony start*/
.testimony{
  margin-bottom: 100px;
}
.test_area{
  padding: 35px 30px 50px;
  border: 1px solid #8e8e8e;
}
.t_img{}
.test_icon{
  margin-left: 12px;
    margin-top: -292px;
}
.test_icon i{
  font-size: 30px;
  color: #333333;
}
.test_text{
  margin-top: -40px;
  margin-left: 275px;
}
.t_h1{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #333333;
}
.t_p{}
.t_h2{
  font-size: 18px;
  color: #333333;
}
.t_p2{
  padding: 30px 0 50px;
  line-height: 30px;
}
.test_np{
  padding: 35px 15px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #f8f8f8;
}
.test_b1{
  padding-bottom: 91px;
  }
.test_b2 {
  padding-top: 91px;
  }
/*testimony end*/
/*contact start*/
.contact{
  margin-bottom: 100px;
}
.con_title{}
.con_title h1{}

/*form*/
.con_form {
  padding: 35px 10px;
  border: 1px solid #8e8e8e;
}
.con_form h1{
  margin: -55px 347px 0;
    background-color: white;
    width: 220px;
}
.form_item{
  margin-top: 40px;
}

.form_item input{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #8e8e8e !important;
  height: 45px;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 45px;
}
.form_item input:focus{
  outline: 0;
}
.input_n{}
.input_e{
  
}
.input_m{
  height: 115px !important;
}
.form_item a{
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 15px 30px;
    background-color: transparent;
    text-transform: uppercase;
  border: 1px solid #8e8e8e;
  transition: .3s;
}
.form_item:hover{
  color: #333333;
}
.form_item:hover .form_item a{
  color: #333333;
}
/*contact end */

/* footer top start*/
.footer_top{
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer_p{
   font-size: ;
  margin: 40px 0;
  color: white;
  line-height: 30px;
}

.footer_icon {
  font-size: 26px;
}
.footer_icon ul {}
.footer_icon ul li{}
.footer_icon ul li a{
  font-size: 26px;
  padding: 5px 5px;
  color: white;
  border: 1px solid #8e8e8e;
}
.footer_icon ul li a:hover{
  background-color: white;
}

/*footer top end*/


/*footer start*/
footer{
  padding: 40px 0;
}
.footer_b{}
.footer_end{
}
.footer_end address{
  color: white;
}
.footer_link{
}
.footer_link ul{} 
.footer_link ul li a{
  padding-right: 10px;
  color: white;
}
.footer_link ul li:last-child a{
  padding-right: 0;
}
/*footer end*/

